.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}
.service-card h2{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.service-card p{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-transform: capitalize;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.card-container .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px;
    background-color: #e1e2e2;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0.5,0.5,0.5,0.5);
}
.card-container .card h2{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #06141b;
}
.card-container .card p{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 300;
    color: #06141b;
    padding-bottom: 20px;
    text-align: center;
}
.icon{
    height: 50px;
    width: 50px;
}
.card-container .card a{
    font-size: 16px;
    font-weight: 400;
    color: #253745;
    padding: 20px 0px;
}
@media (max-width:600px) {
    .service-card{
        padding: 20px;
    }
    .service-card h2{
        font-size: 12px;
    }
    .service-card p{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .card{
        margin:10px 20px;
    }
    .icon{
        height: 40px;
    }
    .card-container .card p{
        font-size: 14px;
    }
}