.title{
    padding: 150px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 5px black;
}