.text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 10px;
}
.text-section h2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.text-section p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 40px;
}
@media (max-width:600px) {
    .text-section h2{
        font-size: 30px;
    }
    .text-section p{
        font-size: 12px;
        padding: 0px;
    }
}